* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header-main {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 0 15px;
}

.header-main h1 {
  color: #f9faf8;
  font-size: 24px;
  flex: 2;
}

nav ul {
  color: #e5e7eb;
  font-size: 18px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-hero {
  background-color: #1f2937;
  background-image: url("./img/pexels-eberhard-grossgasteiger-2437291.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 15px;
}

.main-hero h2,
.main-hero p,
.main-hero button {
  margin: 0 0 20px;
  line-height: 1.5em;
}

.main-hero h2,
.main-hero p {
  color: #f9faf8;
  width: 28%;
}

.main-hero h2 {
  font-size: 48px;
  font-weight: 900;
}

button {
  font-size: 18px;
  padding: 5.5px;
  width: 8.5%;
  border-radius: 8.5px;
  border: none;
}

/* Info Section */

ul {
  list-style: none;
}

img {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
}

.info-sect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

h2 {
  margin: 15px 0;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.info-text {
  text-align: center;
}

/* Quote Section*/

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  margin: 0 0 25px;
}

.quote .text {
  font-size: 32px;
  color: #1f2937;
  font-style: italic;
  width: 65vw;
}
span {
  font-weight: bold;
}
/* Call to Action Section*/
